/**** LICENSE INFORMATION ****
Snap Detector
Snap finger detection freeware
Copyright (C) 2013  Quoc-Nam Dessoulles

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*/

#include "resource.h"

mainDlg DIALOG 0, 0, 415, 250
STYLE WS_POPUPWINDOW | WS_VISIBLE
FONT 8, "MS Sans Serif"
CAPTION "Snap detector"
BEGIN
    PUSHBUTTON        "Apply", IDP_APPLY, 315, 225, 40, 15
    DEFPUSHBUTTON     "Ok", IDDP_OK, 365, 225, 40, 15
    PUSHBUTTON        "Cancel", IDP_CANCEL, 265, 225, 40, 15
END

runDlg DIALOGEX 0, 0, 500, 180
STYLE WS_CHILD
FONT 8, "Arial", 1000, 1
BEGIN
    CONTROL       "Status", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 0, 280, 55
    ICON          "iconOK", IDI_STATUS, 10, 15
    LTEXT         "Snap Detector is working well!", IDT_STATUS, 30, 16, 180, 10
    PUSHBUTTON    "Stop", IDP_TOGGLESTATUS, 10, 30, 40, 15
    PUSHBUTTON    "Exit", IDP_EXIT, 60, 30, 40, 15

    CONTROL       "Preview", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 65, 280, 100
END

optionsDlg DIALOGEX 0, 0, 500, 180
STYLE WS_CHILD
FONT 8, "Arial", 1000, 1
BEGIN
    CONTROL       "Recording", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 0, 280, 70
    LTEXT         "Driver:", IDT_TEXT, 10, 17, 80, 10
    COMBOBOX      IDCB_DRIVER, 90, 15, 180, 80, CBS_DROPDOWNLIST
    LTEXT         "Sample length (ms):", IDT_TEXT, 10, 32, 80, 10
    EDITTEXT      IDET_SAMPLELENGTH, 90, 30, 30, 12
    CONTROL       "", IDTB_SAMPLELENGTH, TRACKBAR_CLASS, 0, 130, 30, 140, 12
    LTEXT         "Sampling frequency:", IDT_TEXT, 10, 47, 80, 10
    COMBOBOX      IDCB_SAMPLEFREQ, 90, 45, 60, 80, CBS_DROPDOWNLIST

    CONTROL       "Action", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 80, 280, 95
    LTEXT         "Detection threshold:", IDT_TEXT, 10, 97, 80, 10
    EDITTEXT      IDET_THRESHOLD, 90, 95, 30, 12
    CONTROL       "", IDTB_THRESHOLD, TRACKBAR_CLASS, 0, 130, 95, 140, 12
    LTEXT         "To do on finger snap:", IDT_TEXT, 10, 112, 80, 10
    COMBOBOX      IDCB_ACTION, 90, 110, 100, 80, CBS_DROPDOWNLIST
    LTEXT         "File:", IDT_FILE, 10, 127, 80, 10
    EDITTEXT      IDET_FILE, 90, 125, 150, 12
    PUSHBUTTON    "...", IDP_FILE, 250, 125, 20, 12
    LTEXT         "Launch in:", IDT_LAUNCHDIR, 10, 142, 80, 10
    EDITTEXT      IDET_LAUNCHDIR, 90, 140, 150, 12
    PUSHBUTTON    "...", IDP_LAUNCHDIR, 250, 140, 20, 12
    LTEXT         "Arguments:", IDT_ARGS, 10, 157, 80, 10
    EDITTEXT      IDET_ARGS, 90, 155, 180, 12

END

aboutDlg DIALOGEX 0, 0, 500, 180
STYLE WS_CHILD
FONT 8, "Arial", 1000, 1
BEGIN
    CONTROL       "General information", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 0, 280, 55
    LTEXT         "Name:", IDT_TEXT, 10, 15, 50, 10
    LTEXT         "Snap Detector", IDT_TEXT, 60, 15, 200, 10
    LTEXT         "Version:", IDT_TEXT, 10, 25, 50, 10
    LTEXT         "0.2.2 bêta", IDT_TEXT, 60, 25, 200, 10
    LTEXT         "Last build:", IDT_TEXT, 10, 35, 50, 10
    LTEXT         "May 21st, 2013", IDT_TEXT, 60, 35, 200, 10

    CONTROL       "Author", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 60, 280, 65
    ICON          "iconAuthor", IDI_AUTHOR, 10, 75
    LTEXT         "Quoc-Nam Dessoulles", IDT_TEXT, 60, 75, 200, 10
    LTEXT         "Engineering student", IDT_TEXT, 60, 85, 200, 10
    LTEXT         "Télécom Bretagne / Technische Universität München", IDT_TEXT, 60, 95, 200, 10
    LTEXT         "cokie.forever@gmail.com", IDT_TEXT, 60, 105, 200, 10

    CONTROL       "License", IDGB_GROUPBOX, "button", BS_GROUPBOX, 0, 130, 280, 45
    LTEXT         "Snap Detector is distributed under the GNU GPL v2.0 licence.", IDT_TEXT, 10, 145, 250, 10
    LTEXT         "Please read the licence terms in the readme file.", IDT_TEXT, 10, 155, 250, 10

END


iconOK      ICON "ok.ico"
iconStop    ICON "stop.ico"
iconAuthor  ICON "author.ico"
iconProject ICON "project.ico"
iconA       ICON "project.ico"  //The icon used for the executable file. It is always the one with the lowest ID.

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "snapd.manifest"
